@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background-color: #282b30;
    color: #FFF
}



.message {
    line-height: 1.2;
    transition: line-height .2s, width .2s;
    overflow: hidden;
  }
  
  .hidden {
    color: #282b30;
  }

