<!DOCTYPE html>
<html>
<head>
    <title>Mapa | Craftsapiens </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
            position: fixed;
            top: 0;
            left: 0;
        }
        .search-box {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px;
        }

        .search-box input[type="submit"] {
            background-color: #007bff;
            border: none;
            color: white;
        }

        .search-box input[type="submit"]:hover {
            background-color: #0056b3;
        }

    </style>
</head>
<body>
    <div class="search-box">
        
        <form action="">
            <input type="text" id="cityName" name="cityName" placeholder="Cidade">
            <input type="submit" value="Procurar">
        </form>
    </div>

    <iframe src="about:blank" id="cityIframe"></iframe>

    <script>
     
        function updateIframe() {
            var cityName = document.getElementById('cityName').value;
            var iframeSrc = `http://177.3.74.79:50024/mapa/iframe?cityName=${encodeURIComponent(cityName)}`;
            document.getElementById('cityIframe').src = iframeSrc;
        }

        
        document.querySelector('form').addEventListener('submit', function(event) {
            event.preventDefault();
            updateIframe();
        });

        updateIframe();
    </script>
</body>
</html>
